<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title th:text="${movie.titolo}"></title>
</head>

<body class="bg-dark text-white">

	<div class="bg-white w-50 m-auto mt-5 card">
		<div class="row card-header">

			<div class="border-end col-4">
				<h2 class=""><a class="text-capitalize text-danger fw-bold text-center"
						href="http://localhost:8080/welcome">Best of the year</a></h2>

			</div>

			<div class="border-end col-4">
				<h2 class="text-center">
					<a class="text-warning" href="http://localhost:8080/movies">Film</a>
				</h2>
			</div>

			<div class="col-4">
				<h2 class="text-center">
					<a class="text-warning" href="http://localhost:8080/songs">Canzoni</a>
				</h2>
			</div>
		</div>

		<div class="card-body d-flex flex-column align-items-center justify-content-center">
				<h1 class="display-2 fw-bold" th:text="${movie.titolo}"></h1>


	


		</div>




	</div>

</body>

</html>